.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 15px 0;
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}


.phone-link {
  display: block;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.phone-button {
  position: relative;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 19px;
}

.phohe-mobile {
  display: none;
}

.header__logo {
  max-height: 68px;
}

@media(max-width: 1024px) {

  .header {
    padding: 26px 30px 0;
    min-height: 60px;
  }

  .header__logo {
    max-height: 60px;
  }

  svg {
    max-width: 60px;
    max-height: 60px;
  }

  .phone__link {
    font-size: 21px;
    line-height: 25px;
  }

  .phone__button {
    font-size: 13px;
    line-height: 15px;
  }

}

@media(max-width: 560px) {
  .phohe__mobile {
    display: block;
  }

  svg {
    max-width: 30px;
    max-height: 30px;
  }
}